.App {
  text-align: center;
  font-size: 14px;
}

.App-logo {
  height: 30px;
  margin: 30px;
  pointer-events: none;
}

input {
  margin: 0 10px;
}

label {
  font-size: 14px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}
