.App {
  text-align: center;
  font-size: 14px;
}

input {
  margin: 0 10px;
}

label {
  font-size: 14px;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.zip-logo {
  padding: 1.5em;
  width: 300px;
  margin: 10px auto;
  filter: drop-shadow(0 0 80px #7379efaa);
  transition: all 300ms ease-in-out;
}

.zip-logo:hover {
  transition: all 300ms ease-in-out;
  filter: drop-shadow(0 0 80px #b5a2f9);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
